*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C5D0D9;
}

hr {
  border-top: 1.5px dashed #506973;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1.2px;
  max-width: 800px;
  margin: 50px auto 50px;
}

h1 {
  font-family: "Niconne", cursive;
  font-weight: 400;
  text-align: center;
  font-size: 65px;
  color: #162026;
  margin: 100px 0px 05px;
}

h2 {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 700;
  text-align: center;
  font-size: 25px;
  color: #506973;
  margin: 0px 0px 70px;
}

.container {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin:0px 200px 0px;
  color: #162026;
  font-size: 16px;
  max-width: 700px;
  margin: auto;
  text-align: left;
}

.last {
  font-family: "Cabin Sketch", sans-serif;
  text-align: center;
  font-size: 18px;
  color: #162026;
  margin: 30px 150px 0px;
}

footer {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 800;
  text-align: center;
  margin-top: 60px;
}

a:link {
  color: #506973;
  text-decoration: none;
}

a:visited {
  color: #506973;
}

a:hover {
  color: #162026;
}

a:active{
  color: #506973;
}
